{{ define "main" }}

{{ "<!-- Address and Map -->" | safeHTML }}
<section class="address">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="block">
          <div class="address-block text-center">
            <div class="icon">
              <i class="tf-phone2"></i>
            </div>
            <div class="details">
              <h3>{{ .Site.Params.mobile | markdownify }}</h3>
              <h3>{{ .Site.Params.email | markdownify }}</h3>
            </div>
          </div>
          <div class="address-block text-center">
            <div class="icon">
              <i class="tf-map2"></i>
            </div>
            <div class="details">
              <h3>{{ .Site.Params.address | safeHTML }}</h3>
            </div>
          </div>
        </div>
      </div>
      {{ "<!-- Google Map -->" | safeHTML }}
      {{ if .Site.Params.map.enable }}
      <div class="col-md-6">
        <div class="google-map">
          <div id="map_canvas" data-latitude="{{ .Site.Params.map.map_latitude }}" data-longitude="{{ .Site.Params.map.map_longitude }}" data-marker="{{ .Site.Params.map.map_marker | absURL }}" data-marker-name="{{ .Site.Title }}"></div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>

{{ with .Site.Params.contact_form_action }}
<section class="contact-form section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mb-4">{{ i18n "contact_form" }}</h2>
      </div>
      <div class="col-12">
        <form action="{{ . }}"  class="row">
          {{ "<!-- Name -->" | safeHTML }}
          <div class="col-md-6">
            <input class="form-control main" type="text" placeholder="Name" required>
          </div>
          {{ "<!-- Email -->" | safeHTML }}
          <div class="col-md-6">
            <input class="form-control main" type="email" placeholder="Your Email Address" required>
          </div>
          {{ "<!-- subject -->" | safeHTML }}
          <div class="col-md-12">
            <input class="form-control main" type="text" placeholder="Subject" required>
          </div>
          {{ "<!-- Message -->" | safeHTML }}
          <div class="col-md-12">
            <textarea class="form-control main" name="message" rows="10" placeholder="Your Message"></textarea>
          </div>
          {{ "<!-- Submit Button -->" | safeHTML }}
          <div class="col-12 text-right">
            <button type="submit" class="btn btn-main-md">{{ i18n "submit" }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}