{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ partial "page-title.html" . }}

<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ i18n "our_works"}}</h2>
      </div>
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card rounded-0 text-center hover-bg-secondary">
          {{ with .Params.Image }}
          <img src="{{ .| absURL }}" class="img-fluid align-self-center w-auto pt-4">
          {{ end }}
          <div class="card-body">
            <h4 class="card-title">{{ .Title | markdownify }}</h4>
            <p class="card-text">{{ .Summary }}</p>
            <a href="{{.Permalink}}" class="btn btn-sm btn-primary">{{ i18n "know_more"}}</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->

<!-- clients -->
{{ if $data.homepage.clients_logo.enable }}
{{ partial "clients-logo-slider.html" . }}
{{ end }}
<!-- /clients -->

{{ end }}