@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800|Source+Sans+Pro:400|Catamaran:400,600,700');

html,body{
	height: 100%;
}
body {
  line-height: 1.7;
  font-family: $primary-font;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}
p {
  font-family: $base-font;
  color: #757575;
}
h1,h2,h3,h4,h5,h6 ,.h1,.h2,.h3,.h4,.h5,.h6{
  font-family: $primary-font;
  font-weight:600;
  color: $black;
}


h4,.h4{
  font-size: 22px;
}
h5,.h5{
  font-size: 18px;
}

h6,.h6{
  font-size: 16px;
}


