
// Variables
$light: #fff;
// $primary-color: #ff4135;
$primary-color: #fb5c42;
$secondary-color: #f2f3f5;
$extra-color: #f9f9f9;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Catamaran', sans-serif;
$base-font:'Source Sans Pro', sans-serif;
$extra-font:'Poppins', sans-serif;
$icon-font: 'themefisher-font';