{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{ "<!-- Privacy Policy -->" | safeHTML }}
{{ with $data.privacy.privacy }}
<section class="privacy section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <nav class="privacy-nav">
          <ul>
            {{ range . }}
            <li><a href="#{{ .name | urlize }}" class="nav-link scrollTo">{{ .name | title }}</a></li>
            {{ end }}
          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        <div class="block">
          {{ range . }}
          <div id="{{ .name | urlize }}" class="policy-item">
            <div class="title">
              <h3>{{ .name | title }}</h3>
            </div>
            <div class="policy-details">
              {{ .content | markdownify }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ "<!-- End of Privacy Policy -->" | safeHTML }}

{{ end }}