{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<!-- hero area -->
{{ with $data.homepage.banner }}
<section class="hero-section bg-cover position-relative overlay"
  style="background-image: url('{{ .bg_image | absURL }}');">
  <div class="hero-content">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto text-center">
          <h1 class="text-white mb-5 text-capitalize">{{ .title | markdownify }}</h1>
          <p class="text-light mb-4 mx-lg-5 px-lg-5 content">{{ .content | markdownify }}</p>
          {{ if .button_solid.enable }}
          {{ with .button_solid }}
          <a href="{{ .link | absLangURL }}" class="btn btn-primary m-2">{{ .label }}</a>
          {{ end }}
          {{ end }}

          {{ if .button_outline.enable }}
          {{ with .button_outline }}
          <a href="{{ .link | absLangURL }}" class="btn btn-outline-primary m-2">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
<!-- /hero area -->

<!-- cta -->
{{ if $data.homepage.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}

<!-- about -->
{{ if $data.homepage.about.enable }}
{{ with $data.homepage.about }}
<section class="section bg-secondary-white">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-4 mb-md-0 pr-lg-5">
        <img src="{{ .image | absURL }}" alt="about" class="img-fluid">
      </div>
      <div class="col-md-6 pl-lg-4">
        <div class="content mb-4">{{ .content | markdownify }}</div>
        {{ if .button.enable }}
        {{ with .button }}
        <a href="{{ .link | absLangURL }}" class="btn btn-primary">{{ .label }}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
<!-- /about -->

<!-- testimonial -->
{{ if $data.homepage.testimonial.enable }}
{{ with $data.homepage.testimonial }}
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
    </div>
    <div class="row">
      {{ range .testimonial_item }}
      <div class="col-lg-4 col-md-6">
        <!-- Testimonial -->
        <div class="testimonial-item">
          <!-- Given Comment -->
          <div class="comment match-height content">
            {{ .content | markdownify }}
          </div>
          <div class="person">
            <div class="media">
              <!-- Person Image -->
              <img src="{{ .image | absURL }}" alt="{{ .name }}">
              <div class="media-body">
                <h5>{{ .name | markdownify }}</h5>
                <p class="mb-0">{{ .designation | markdownify }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /testimonial -->

<!-- service -->
{{ if $data.homepage.service.enable }}
{{ with $data.homepage.service }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .service_item }}
      <div class="col-lg-4 col-sm-6 mb-4">
        <div class="card rounded-0 text-center hover-bg-secondary">
          <div class="card-body p-4">
            <i class="icon-rounded bg-primary text-white {{ .icon }} mb-4"></i>
            <h4 class="card-title">{{ .title | markdownify }}</h4>
            <P class="card-text content">{{ .content | markdownify }}</P>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /service -->

<!-- clients -->
{{ if $data.homepage.clients_logo.enable }}
{{ partial "clients-logo-slider.html" . }}
{{ end }}
<!-- /clients -->

{{ end }}