<!-- footer -->
<footer class="footer-section footer" style="background-image: url('{{ .Site.Params.footer.bgImage | absURL}}');">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <a href="{{ .Site.BaseURL }}">
          <img class="img-fluid" src="{{ .Site.Params.logo | absURL }}" alt="logo">
        </a>
      </div>
      <!-- footer menu -->
      <nav class="col-lg-8 align-self-center mb-5">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.home }}</a></li>
          {{ if .IsHome }}    
          {{ range $.Site.Menus.main }}
          <li class="list-inline-item"><a class="page-scroll" href="{{ .URL }}">{{ .Name }}</a></li>
          {{ end }}
          {{ else }}
          {{ range $.Site.Menus.main }}
          <li class="list-inline-item"><a class="page-scroll" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
          {{ end }}
        </ul>
      </nav>
      <!-- footer social icon -->
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          {{ range .Site.Params.footer.socialIcon }}
          <li class="list-inline-item">
            <a class="{{ .color }}" href="{{ .URL }}"><i class="{{ .icon }}"></i></a>
          </li>
          {{ end }}
        </ul>
      </nav>
    </div>
  </div>
</footer>
<!-- /footer -->


{{ $script:= "script" }}
{{ $scriptTag:= "<" }}
{{$scriptTag | safeHTML }}{{$script}} type="text/javascript">
  
  {{ $.Scratch.Set "counter" 0 }}
  {{ range .Site.Params.plugins.css }}
  {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
  var css{{$.Scratch.Get `counter`}} = document.createElement('link');
  css{{$.Scratch.Get `counter`}}.rel = 'stylesheet';
  css{{$.Scratch.Get `counter`}}.href = '{{ .URL | absURL }}';
  css{{$.Scratch.Get `counter`}}.type = 'text/css';
  var fastCSS{{$.Scratch.Get `counter`}} = document.getElementsByTagName('link')[0];
  fastCSS{{$.Scratch.Get `counter`}}.parentNode.insertBefore(css{{$.Scratch.Get `counter`}}, fastCSS{{$.Scratch.Get `counter`}});
  {{ end }}

</script>

{{ "<!-- JS Plugins -->" | safeHTML }}
{{ range .Site.Params.plugins.js}}
<script src="{{ .URL | absURL }}"></script>
{{ end }}
{{ "<!-- Main Script -->" | safeHTML }}
{{ $script := resources.Get "js/script.js" | minify}}
<script src="{{ $script.Permalink }}"></script>
{{ "<!-- google analitycs -->" | safeHTML }}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ .Site.Params.googleAnalitycsID }}', 'auto');
  ga('send', 'pageview');
</script>