<section class="page-title bg-cover" style="background-image: url('{{ .Params.BgImage | absURL }}'), url('{{`images/bg/section-bg5.jpg` | absURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <!-- <span class="text-white">About Us</span> -->
          <h1 class="text-capitalize mb-5 text-lg">{{ .Title }}</h1>
          <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="{{ .Site.BaseURL }}" class="text-white">{{ .Site.Params.home }}</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item text-white-50">{{ .Title }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>