<div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
  <div class="sidebar-widget search mb-3">
    <h5>Search Here</h5>
    <form action="{{ `search/` | relLangURL }}" class="search-form">
      <input id="search-query" name="s" type="search" class="form-control" placeholder="search">
      <i class="ti-search"></i>
    </form>
  </div>

  <div class="sidebar-widget latest-post mb-3">
    <h5>Latest Posts</h5>
    {{ range first 3 ( where .Site.Pages "Type" "post" )}}
    <div class="media py-3">
      <a href="{{ .Permalink }}"><img class="mr-3" src="{{ .Params.Image | absURL }}"></a>
      <div class="media-body">
        <span class="text-sm text-muted">{{ .PublishDate.Format "02 Jan, 2006" }}</span>
        <h6 class="my-2"><a href="{{ .Permalink }}">{{ .Title }}</a></h6>
      </div>
    </div>
    {{ end }}
  </div>

  <div class="sidebar-widget category mb-3">
    <h5 class="mb-4">Categories</h5>
    {{- if isset .Site.Taxonomies "categories" }}
    {{- if not (eq (len .Site.Taxonomies.categories) 0) }}
    <ul class="list-unstyled">
      {{- range $name, $items := .Site.Taxonomies.categories }}
      <li>
        <a class="align-items-center d-flex justify-content-between"
          href="{{ `categories/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | title | humanize }}<span>{{len $items}}</span></a>
      </li>
      {{- end }}
    </ul>
    {{- end }}
    {{- end }}
  </div>

  <div class="sidebar-widget tags mb-3">
    <h5 class="mb-4">Tags</h5>
    {{- if isset .Site.Taxonomies "tags" }}
    {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
    {{- range $name, $items := .Site.Taxonomies.tags }}
    <a href="{{ `tags/` | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a>
    {{- end }}
    {{- end }}
    {{- end }}
  </div>
</div>