{{ define "main" }}

<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 rounded-sm pr-5">
        <img src="{{ .Params.Image | absURL }}" class="rounded-sm img-fluid w-100 mb-5" alt="post-thumb">
        <p class="text-color card-date position-relative d-inline-block">BY <span
            class="text-dark font-weight-bold">{{ .Params.Author }}</span> / ON <span
            class="text-dark font-weight-bold">{{ .PublishDate.Format "Jan 02, 2006" }}</span></p>
        <div class="content">
          {{ .Content }}
        </div>
        <div class="my-5">
          <h5 class="d-inline-block mr-3">Share:</h5>
          <ul class="list-inline d-inline-block">
            {{ $url := printf "%s" .Permalink | absLangURL }}
            <li class="list-inline-item"><a href="https://facebook.com/sharer/sharer.php?u={{ $url }}" class="text-color lead"><i class="fa fa-facebook "></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/intent/tweet/?text={{ .Title }}&amp;url={{ $url }}" class="text-color lead"><i class="fa fa-twitter "></i></a></li>
            <li class="list-inline-item"><a href="https://reddit.com/submit/?url={{ $url }}&amp;resubmit=true&amp;title={{ .Title }}" class="text-color lead"><i class="fa fa-reddit "></i></a></li>
            <li class="list-inline-item"><a href="whatsapp://send?text={{ .Title }}%20{{ $url }}" class="text-color lead"><i class="fa fa-whatsapp "></i></a></li>
            <li class="list-inline-item"><a href="https://telegram.me/share/url?text={{ .Title }}&amp;url={{ $url }}" class="text-color lead"><i class="fa fa-telegram "></i></a></li>
          </ul>
        </div>

        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>

{{ end }}