{{ define "main" }}

{{ $data := index .Site.Data .Site.Language.Lang }}

{{"<!-- team -->" | safeHTML}}
{{ if $data.team.team.enable }}
{{ with $data.team.team }}
<section class="section section-lg-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4 class="subtitle" data-aos="fade-up">{{ .subtitle }}</h4>
        <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">{{ .title }}</h2>
      </div>
      {{ range $index, $element:= .team_member }}
      {{ $delay := mul $index 200}}
      {{"<!-- team member -->" | safeHTML}}
      <div class="col-lg-4 col-sm-6 mb-100" data-aos="fade-up" data-aos-delay="{{$delay}}">
        <div class="team-member text-center">
          <img src="{{ .image | absURL }}" class="img-fluid w-100 rounded-sm" alt="{{.name}}">
          <div class="team-member-content p-4">
            <h5 class="team-member-name text-white">{{.name}}</h5>
            <p class="team-member-designation text-light">{{ .designation }}</p>
            <ul class="list-inline team-member-social">
              {{ range .social }}
              <li class="list-inline-item"><a href="{{.link | safeURL }}" class="p-2"><i class="fa {{ .icon }} text-white"></i></a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
{{"<!-- /team -->" | safeHTML}}

{{ end }}