{{ define "main" }}

<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-about relative">
      <!-- .close -->
      <a href="{{ .Site.BaseURL }}" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            {{ partial "page-title.html" . }}
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="about-author">
              <figure class="author-thumb">
                <img src="{{ .Params.AuthorImage | absURL }}" alt="author">
              </figure> <!-- /.author-bio -->
              <div class="author-desc">
                {{ range .Params.AuthorDescription }}
                <p><b>{{ .title }}:</b> {{ .description }}</p>
                {{ end }}
              </div>
              <!-- /.author-desc -->
            </div><!-- /.about-author -->
            {{ .Content }}
          </div> <!-- /.col -->

          <div class="col-xs-12 col-md-6">
            <div class="section-title clear">
              <h3>Skills</h3>
            </div>
            <div class="skill-wrapper">
              {{ range .Params.Skills }}
              <div class="progress clear">
                <div class="skill-name">{{ .name }}</div>
                <div class="skill-bar">
                  <div class="bar"></div>
                </div>
                <div class="skill-lavel" data-skill-value="{{ .level }}"></div>
              </div>
              {{ end }}
            </div> <!-- /.skill-wrapper -->
          </div> <!-- /.col -->
        </div> <!-- /.row -->
      </div> <!-- /.container -->
      {{ partial "page-nav.html" . }}
      <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->

{{ end }}