{{ define "main" }}

<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-quotes relative">
      <!-- .close -->
      <a href="{{ .Site.BaseURL }}" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
            {{ partial "page-title.html" . }}
          </div>
        </div> <!-- /.row -->

        <div class="row">
          <div class="col-xs-12">
            <div class="testimonials">
              {{ range .Site.Data.database.testimonial }}
              <div class="item clear">
                <figure class="thumb">
                  <div class="tm-hex" style="background-image: url('{{ .image | absURL }}');">
                    <div class="hexTop"></div>
                    <div class="hexBottom"></div>
                  </div>
                  <figcaption>
                    <h4>{{ .name }}</h4>
                    <span>{{ .designation }}</span>
                  </figcaption>
                </figure>
                <div class="text">
                  <p>{{ .content }}</p>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </div> <!-- /.row -->
      </div> <!-- /.container -->
      {{ partial "page-nav.html" . }}
    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->


{{ end }}