{{ define "main" }}

<section class="section pt-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<div class="text-center">
					{{ if .Params.Image }}
					<img class="img-fluid" src="{{.Params.Image_webp | relURL }}"
						onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
					{{else if .Params.Email}}
					<img class="img-fluid" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
					{{ end }}
				</div>
			</div>
			<div class="col-md-6">
				<h4 class="font-weight-bold mb-4">{{ .Title }}</h4>
				<div class="content">
					{{ .Content }}
				</div>
				<ul class="list-inline">
					{{ range .Params.Social }}
					<li class="list-inline-item"><a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
					{{ end }}
				</ul>
			</div>
		</div>
	</div>
</section>

<section class="section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="text-center section-title">
					<h2>{{ i18n "posted_by" }}</h2>
				</div>
			</div>
			{{ range where .Site.RegularPages "Params.author" (.Title | title) }}
			{{ .Render "post" }}
			{{ end }}
		</div>
	</div>
</section>
{{ end }}