{{ define "main" }}

<main class="site-wrapper">
  <div class="pt-table">
    <div class="pt-tablecell page-welcome relative">
      <!-- .close -->
      <a href="{{ .Site.BaseURL }}" class="page-close"><i class="tf-ion-close"></i></a>
      <!-- /.close -->
      <div class="author-image-large">
        <img src="{{ .Params.AuthorImage | absURL }}" alt="author">
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-7">
            <div class="page-title">
              <h2>{{ .Params.FirstName }} <span class="primary">{{ .Params.LastName }}</span> <span class="title-bg">{{ .Title }}</span></h2>
              {{ .Content }}
            </div>
          </div>
        </div> <!-- /.row -->
      </div> <!-- /.container -->
      {{ partial "page-nav.html" . }}
      <!-- /.container -->
    </div> <!-- /.pt-tablecell -->
  </div> <!-- /.pt-table -->
</main> <!-- /.site-wrapper -->

{{ end }}