// Color Variables
$primary-color: #FF3158;
$secondary-color: #FFBB33;
$tertiary-color: #1E858B;
$text-color: #999999;
$text-color-dark: #222222;
$body-color: #fff;
$border-color: #AEAEAE;
$black: #000;
$white: #fff;
$light: #FBFBFB;
$gray: #F5F5F5;

// Font Variables
$primary-font: 'Quicksand', sans-serif;
$icon-font: 'themify';