{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- section portfolio start -->
<section class="section portfolio">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="heading text-center">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {{ range .Data.Pages }}
      <div class="col-lg-4 col-md-6">
        <div class="portflio-item position-relative mb-4">
          <a href="{{ .Permalink }}">
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="img-fluid w-100">
            <div class="overlay-item"><i class="ti-link"></i></div>
            <div class="portfolio-item-content">
              <h3 class="mb-0 text-white">{{ .Title }}</h3>
              <p class="text-white-50">{{ .Params.Category }}</p>
            </div>
          </a>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- section portfolio END -->

{{ end }}