{{ define "main" }}

{{ partial "page-title" . }}

<section class="section case-study">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-lg-6">
          <div class="case-img">
            <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="img-fluid w-100">
          </div>
        </div>

        <div class="col-lg-6 col-md-8">
          <div class="case-content pl-4 mt-4 mt-lg-0 content">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section pt-0">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="mb-5">Check Out Our Recent Projects</h2>
      </div>
    </div>
    <div class="row">
        {{ range first 3 (where .Site.Pages "Type" "portfolio" )}}
        <div class="col-lg-4 col-md-6">
          <div class="portflio-item position-relative mb-4">
            <a href="{{.Permalink}}">
              <img src="{{ .Params.Image | absURL }}" alt="{{ .Title }}" class="img-fluid w-100">
              <div class="overlay-item"><i class="ti-link"></i></div>
              <div class="portfolio-item-content">
                <h3 class="mb-0 text-white">{{ .Title | markdownify }}</h3>
                <p class="text-white-50">{{ .Params.Category }}</p>
              </div>
            </a>
          </div>
        </div>
        {{ end }}
    </div>
  </div>
</section>

{{ end }}